<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KingWeb Casino || SPIN</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="OkBody">
    <h1>🎰 CASINO || SPIN 🎰</h1>
    <p><big>Крути не думай!</big></p>
    <p><big></big>Время бабки!</big></p>
    <p>💰 БАЛАНС:</p>
    <p id="balance">{{ balance }}</p>
    <button onclick="Spin()">🎲 КРУТИТЬ! 🎲</button>
    <script src="/static/script.js"></script>
    <a href="/info">📜 Информация о нас</a>
</body>
</html>