<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CASIC67 || INFO</title>
    <link rel="stylesheet" href="/static/css/style.css">\
    <style>
        body {
            background: linear-gradient(135deg, #978819 0%, #cfc806 100%);
        }
    </style>
</head>
<body>
    <h1>Информация о нас!</h1>
    <p>Это проект формата PET нам не нужный ваши деньги, а едиственное что нам нужно это ваше хорошее настроения!</p>
    <a href="/">Вернуться на главную!</a>
</body>
</html>