<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KingWeb || Login</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="RLBody">
    <div class="form-container">
        <h2>🔐 Вход</h2>
        
        <form id="loginForm" class="auth-form">
            <p><input type="text" id="name" placeholder="👤 Имя" required></p>
            <p><input type="password" id="password" placeholder="🔒 Пароль" required></p>
            <p><button type="submit">Войти</button></p>
        </form>
        
        <p class="pp">Нет аккаунта? <a href="/register/page">Регистрация</a></p>
    </div>
    
    <script src="/static/script.js"></script>
</body>
</html>